body{
    background-color: rgb(0, 0, 0);
    height: 150vh;
}
.outline{
    display: flex;
    /* height: 100%;
    width: 100%; */
    position: relative;
}
.leftbox{
    position: fixed;
    width: 45%;
    height: 100%;
    background-image: url("../assets/jake-buonemani-WvK0EsbfG7U-unsplash.jpg");
    background-size: cover;
}
.rightbox{
    position:absolute;
    width: 55%;
    height: 100%;
    color: white;
    margin-left:50%;
    padding-top:30px;
}
img{
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 50%;
    
}

.intro{
    display: flex;
    font-family: Russo one;
    margin-top: 50px;
    /* margin-left: 50px; */
    color: white;
    justify-content: center;
    transition: all 1s ease-in-out ;
}
.intro:hover{
    transform: scale(1.1);
    color: rgb(149, 168, 116);
}
span{
    font-size: medium;
}
.navbar a{
    font-family: Russo one;
    text-decoration: none;
    color: white;
    text-align: justify;
    padding: 30px;
    transition: all 1ms ease-in ;
    

}
.navbar{
    padding-top: 50px;
    
}
.navbar a:hover{
    color: rgb(149, 168, 116);
    transform: scale(1.1);

    
}
.intro1{
    font-family: Russo one;
    font-size: medium;
    color: white;
    margin-top: 60px;
    margin-left: 20px;
}
.icons img{
    width: 30px;
    height: 30px;
    color:white;
    border-radius: 0%;
    
}
.icons{
    padding: 50px 90px;
}
.about{
    height: 300px;
    width: 600px;
    background-color: white;
    box-sizing: border-box;
    /* box-shadow: 5px 1px 1px 10px rgb(224, 223, 223); */
    color: black;
    font-family: Russo one;
    border-radius: 15px;
    padding: 20px 20px 50px 20px;;

}

